*{padding:0 ;margin: 0; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);  }
ul{list-style:none;}

body{
	overflow: hidden;
}
/*@-webkit-keyframes show_nav
{
	from {left: -130px}
	to {left: 0}
}
@-webkit-keyframes hide_nav
{
	from {left: 0}
	to {left: -130px}
}*/
@-webkit-keyframes show_nav /* Safari 和 Chrome */
{
	from {left: 0}
	to {left: 130px}
}
@-webkit-keyframes hide_nav /* Safari 和 Chrome */
{
	from {left: 130px}
	to {left: 0}
}
#main{
	width: 100%;
	height:100%;
	overflow: hidden; 
	position: relative;
}
#sort_nav{
	position: absolute;
	/*z-index: 2;*/
	left: 0;
	top: 0;
	background-color: rgba(0,0,0,.5);
	width: 130px;
	color: white;
}

#sort_nav.on{
	left: 130px;
	animation: show_nav .5s;
	-webkit-animation: show_nav .5s;	/* Safari 和 Chrome */
}
#sort_nav.off{
	left: 0;
	animation: hide_nav .5s;
	-webkit-animation: hide_nav .5s;	/* Safari 和 Chrome */
}
#sort_nav ul{
	overflow-y: scroll;
}
#sort_nav li{
	border-bottom: 1px solid #ccc;
	padding: 10px 3px;
}
#sort_nav li:last-child{
	border: none;
}
#sort_nav li.big{
	background-color: rgba(0,0,0,.3);
	padding: 12px 3px;
	font-size: 18px;
}
#main_container{
	position: absolute;
	z-index: 1;
	left: 0;
	top: 0;
	background-color: white;
	height:1000px;
	text-align: center;
	width: 100%;
	overflow: hidden;
}
#main_container.on{
	left: 130px;
	animation: show_nav .5s;
	-webkit-animation: show_nav .5s;	/* Safari 和 Chrome */
}
#main_container.off{
	left: 0;
	animation: hide_nav .5s;
	-webkit-animation: hide_nav .5s;	/* Safari 和 Chrome */
}
.btn_nav{
	border: 1px solid #eee;
	border-radius: 3px;
	width: 15px;
	position: absolute;
	left: 15px;
	top: 10px;
}
.btn_nav span{
	background-color: #000;
	height: 3px;
	margin: 3px 0;
	display: block;
}
.top_layer{
	position: fixed;
	z-index: 10;
	top: 0;
	left: 0;
	width: 100%;
	background: #eee;
	padding: 10px 0;
}
.top_layer h1{
	font-size: 20px;
}
#main_container.on .top_layer{
	left: 130px;
	animation: show_nav .5s;
	-webkit-animation: show_nav .5s;	/* Safari 和 Chrome */
}
#main_container.off .top_layer{
	left: 0;
	animation: hide_nav .5s;
	-webkit-animation: hide_nav .5s;	/* Safari 和 Chrome */
}