*{padding:0 ;margin: 0; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);  }
ul{list-style:none;margin: 0;padding: 0;}

@-webkit-keyframes show_nav 
{
	from {margin-left: 0;}
	to {margin-left: 300px}
}
@-webkit-keyframes hide_nav 
{
	from {margin-left: 300px}
	to {margin-left: 0;}
}
@-webkit-keyframes show_nav_320 
{
	from {margin-left: 0;}
	to {margin-left: 270px}
}
@-webkit-keyframes hide_nav_320 
{
	from {margin-left: 270px}
	to {margin-left: 0;}
}
@-webkit-keyframes show_nav_left 
{
	from {left: -300px;}
	to {left: 0}
}
@-webkit-keyframes hide_nav_left 
{
	from {left: 0;}
	to {left: -300px}
}
@-webkit-keyframes show_nav_left_320 
{
	from {left: -270px;}
	to {left: 0}
}
@-webkit-keyframes hide_nav_left_320 
{
	from {left: 0;}
	to {left: -270px}
}
@-webkit-keyframes show_nav_layer_left 
{
	from {left: 0;}
	to {left: 300px}
}
@-webkit-keyframes hide_nav_layer_left 
{
	from {left: 300px;}
	to {left: 0}
}
@-webkit-keyframes show_nav_layer_left_320 
{
	from {left: 0;}
	to {left: 270px}
}
@-webkit-keyframes hide_nav_layer_left_320 
{
	from {left: 270px;}
	to {left: 0}
}
body{
    overflow: scroll;
}
body.show_nav{
	overflow: hidden;
}
#main{
	/*width: 100%;*/
	height:100%;
	margin-left: 0;
	position: relative;
}
body.off #main{
	animation: hide_nav .5s;
	-webkit-animation: hide_nav .5s;
}
body.show_nav #main{
	margin-left: 300px;
	animation: show_nav .5s;
	-webkit-animation: show_nav .5s;
}
/*分类导航*/
#sort_nav{
	position: fixed;
	z-index: 101;
	left: -300px;
	top: 0;
	background-color: white;
	width: 300px;
	color: white;
}
#sort_nav ul{
	background-color: rgba(0,0,0,.5);
}
body.show_nav #sort_nav{
	left: 0;
	animation: show_nav_left .5s;
	-webkit-animation: show_nav_left .5s;
}
body.off #sort_nav{
	left: -300px;
	animation: hide_nav_left .5s;
	-webkit-animation: hide_nav_left .5s;
}
.fix_layer{
	position: fixed;
	z-index: 10;
	left: 0;
	width: 100%;
	background: rgba(100,100,100,.4);
	padding: 10px 0;
}
body.show_nav .fix_layer{
	left: 300px;
	animation: show_nav_layer_left .5s;
	-webkit-animation: show_nav_layer_left .5s;
}
body.off .fix_layer{
	left: 0;
	animation: hide_nav_layer_left .5s;
	-webkit-animation: hide_nav_layer_left .5s;
}
@media (max-width: 320px),
(max-device-width: 320px){
	#sort_nav{
		-270px;
		width: 270px;
	}
	body.off #main{
		animation: hide_nav_320 .5s;
		-webkit-animation: hide_nav_320 .5s;
	}
	body.show_nav #main{
		margin-left: 270px;
		animation: show_nav_320 .5s;
		-webkit-animation: show_nav_320 .5s;
	}
	body.show_nav #sort_nav{
		left: 0;
		animation: show_nav_left .5s;
		-webkit-animation: show_nav_left .5s;
	}
	body.off #sort_nav{
		left: -270px;
		animation: hide_nav_left_320 .5s;
		-webkit-animation: hide_nav_left_320 .5s;
	}
	body.show_nav .fix_layer{
		left: 270px;
		animation: show_nav_layer_left_320 .5s;
		-webkit-animation: show_nav_layer_left_320 .5s;
	}
	body.off .fix_layer{
		left: 0;
		animation: hide_nav_layer_left_320 .5s;
		-webkit-animation: hide_nav_layer_left_320 .5s;
	}
}
#sort_nav ul{
	overflow-y: scroll;
}
#sort_nav li{
	border-bottom: 1px solid #ccc;
	padding: 10px 3px;
	padding-left: 30px;
}
#sort_nav li:last-child{
	border: none;
}
#sort_nav li.big{
	background-color: rgba(0,0,0,.3);
	padding: 12px 3px;
	padding-left: 10px;
	font-size: 18px;
}

#main_container{
	position: relative;
	z-index: 11;
	background-color: white;
	height:100%;
	text-align: center;
}

.btn_nav{
	width: 40px;
	height: 40px;
	position: absolute;
	left: 0;
	top: 0;
	padding: 10px 0 0 10px;
}
.btn_nav > div{
	border: 1px solid #eee;
	border-radius: 3px;
	width: 15px;
	padding: 0 3px;
}
.btn_nav span{
	background-color: #000;
	height: 3px;
	margin: 3px 0;
	display: block;
}

.top_layer{	
	top: 0;
}
.top_layer h1{
	font-size: 20px;
}

#btn_back{
	background-color: rgba(0,0,0,.4);
	width: 50px;
	padding: 3px 3px;
	position: absolute;
	top: 0px;
	right: 10px;
	top: 10px;
	color: #000;
	z-index: 103;
	cursor: pointer;
}
.bottom_layer{
	bottom: 0;
}
.btn_player{
	width: 24px;
	height: 27px;
	background-image: url(../img/icon.png);
	background-repeat: no-repeat;
	background-position: -181px 0px;
	margin: 0 10px;
	display: inline-block;
	float: left;
	position: relative;
}
.btn_player.pause{
	background-position: -156px 0px;
}
.progress{
	float: left;
	height: 20px;
	margin-top: 2px;
	position: relative;
}
.progress span{float: left;width: 50px;background-color: #888;height: 100%;margin: 0 2px;}
.progress span.on{background-color: #2C5490;}
.progress .time{
	min-width: 100px;
	text-align: center;
	display: none;
	background-color: rgba(255,255,255,.9);
	border-radius: 3px;
	padding: 3px;
	position: absolute;
	top: -40px;
	height: 25px;
	color: rgba(0,0,0,0.6);
}
.time i{
	font-style: normal;
	width: 100%;
	white-space:nowrap;
	overflow: hidden;;
}
.progress .time div{
	position: absolute;
	bottom: -8px;
	left: 50px;
	border-color: rgba(255,255,255,.9) transparent transparent transparent;
    border-style: solid;
    border-width: 10px 10px 0px 10px;
    width: 0;
    height: 0;
}
.loading{
	width: 16px;
	height: 16px;
	background: url(./../img/loading.gif);
	position: fixed;
	left: 50%;
	top: 50%;
	margin-left: -8px;
	margin-top: -8px;
	z-index: 102;
}
#operator{
	width:765px;height:765px;
}
#operator img{
	width: 100%;
	/*height: 100%;*/
}
.tuli_layer{
	position: absolute;
	bottom: 45px;
	height: 25px;
}
.tuli_layer img{
	width: 100%;
	height: 25px;
}
.notice{
	position: absolute;
	background-color: rgba(255,255,255,1);
	border-radius: 3px;
	padding: 3px;
	border: 1px solid #ccc;
}
.notice i{
	font-style: normal;
}
.notice>div{
	position: absolute;
	top: -20px;
	left: 10px;
	border-color: transparent transparent #ccc transparent;
	border-style: solid;
	border-width: 10px;
	width: 0;
	height: 0;
}
.notice div div{
	border-style: solid;
	position: absolute;
	border-color: transparent transparent rgba(255,255,255,1) transparent;
	border-width: 10px;
	width: 0;
	height: 0;
	left: -10px;
	top: -9px;
}
#n_menu{
	top: 40px;
	width: 100px;
	left: 0px;
}
#n_play{
	width: 100px;
	top: -40px;
	left: 0px;
}
#n_play div{
	border-color: #ccc transparent transparent transparent;
	top: 26px;
	left: 5px;
}
#n_play div div{
	border-color: rgba(255,255,255,1) transparent transparent transparent;
	left: -10px;
	top: -11px;
}
#n_back{
	right: 20px;
	top: 50px;
	z-index: 11;
	display: none;
}
#n_back > div{
	right: 10px;
	left: auto;
}

