*{padding:0 ;margin: 0; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);  }
ul{list-style:none;}
#main-container{
	min-width: 320px;
	max-width: 960px;
	position: relative;
}
.noline{
	-webkit-tap-highlight-color:rgba(0,0,0,0);
}
.full{
	/*width: 320px;*/
	min-width: 320px;
	margin: 0 auto;
}
header{
	font-size: 20px;
	font-weight: bold;
	color: #000;
	padding: 10px 3px;
	text-align: center;
}
.nav-btn{
	position: absolute;
	z-index: 100;
	left:0;
	top: 10px;
}
.nav-btn div{
	width: 20px;
	cursor: pointer;
	position: relative;
	z-index: 101;
}
.nav-btn.on div span{
	background-color: white;
}
.nav-btn div span{
	width: 100%;
	display: block;
	height: 3px;
	margin: 3px 0;
	background-color: #333;
}

@-webkit-keyframes show_nav /* Safari 和 Chrome */
{
	from {left: -150px}
	to {left: 0}
}
@-webkit-keyframes hide_nav /* Safari 和 Chrome */
{
	from {left: 0}
	to {left: -160px}
}

.nav-btn.on nav{
	left: 0px;
	animation: show_nav .5s;
	-webkit-animation: show_nav .5s;	/* Safari 和 Chrome */
}
.nav-btn.off nav{
	animation: hide_nav .5s;
	-webkit-animation: hide_nav .5s;	/* Safari 和 Chrome */
}
nav{
	width: 150px;
	padding: 5px;
	color: white;
	position: absolute;
	top: -10px;
	left: -160px;
	overflow: hidden;
}
nav .mask{
	position: absolute;
	z-index: -1;
	left: 0;
	top: 0;
	background: #000;
	opacity: 0.5;
	width: 100%;
	height: 100%;
	border-radius: 0 0 5px 0 ;
}
nav ul li{
	padding: 10px;
	padding-left: 20px;
	cursor: pointer;
}
nav ul li.on{
	color: #ddd;
}
.pic{
	width: 320px;
	margin: 0 auto;
	height: 280px;
	overflow: hidden;
	position: relative;
}
.pic img{
	width: 320px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -160px;
}
.desc{
	padding: 3px;
	line-height: 25px;
}
.sub-item{
	margin: 10px 0;
	overflow: hidden;
}
.sub-item li{
	float: left;
	width: 65px;
	padding: 0 5px;
	text-align: center;
	height: 50px;
	line-height: 20px;
	border: 1px solid #ccc;
	font-size: 14px;
	margin: 0 3px;
	padding-top:10px;
	border-radius: 3px;
	cursor: pointer;
}
.sub-item li.on{
	background: #eee;
}
#chart_container{
	min-width: 310px; 
	height: 400px; 
	margin: 0 auto
}
.btn_c{
	text-align: right;
	padding-right: 20px;
}
.btn_scale{
	width: 25px;
	height: 27px;
	background: url(img/icon.png) no-repeat -50px 0px;
	display: inline-block;
	margin: 5px 0;
	margin-left: 5px;
	cursor: pointer;
	margin-right:30px;
}
.btn_scale.btn_out{
	background-position: -75px 0;
}